html
	head
		title index page
		link(rel="stylesheet", href="bootstrap.min.css")
		link(rel="stylesheet", href="style.css")
	body
		h1 Timestamp microservice
		div
			blockquote
				h3 User stories
				span.stories
					p 1) I can pass a string asa parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)
					p 2) If it does, it returns both the Unix timestamp and the natural language form of that date.
					p 3) If it does not contain a date or Unix timestamp, it returns null for those properties.
			h3 Example usage:
			span#firstCode
			br
			span#secondCode
			h3 Example output
			code { "unix": 1450137600, "natural": "December 15, 2015" }
		script(src="app.js")